<!DOCTYPE html>
<html lang="en">
<head>
    <title>HTML</title>
</head>
<body>
    <h1>Sign Up</h1>
    <img 
        height="100px"
        widht="100px"
        src="http://localhost:5000/images/tamiya.jpg"
    />
    <form action="http://localhost:5000/postsignup" method="post">
        <p> 
        Nama: <input name= "nama" type="text" placeholder="Ketik nama Anda"/>
        </p>
        <p> 
        Pass: <input name="pass" type="password" placeholder="Ketik password"/>
        </p>
        <p>
        <input type="submit" value="Kirim"/>    
        </p>
    </form>
</body>
</html>