<!DOCTYPE html>
<html> 
<head>
        <title>Tes Flask</title>
<body>
    <h1>Selamat datang!!!</h1>
    <a href="/data">
    <h1>Go to /data</h1>
    </a>
    <h3>Kamu asal mana?</h3>
    <select>
        <option>Jakarta</option>
        <option>Bandung</option>
    </select>
    <hr/>
    <marquee>
    <a href="/data" target='_blank'>
        <img
        src="http://cdn2.tstatic.net/tribunnews/foto/bank/images/gunung-kerinci_20150817_044157.jpg"
        />
    </marquee>
</body>    
</head>
</html>